.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.login img{
     width: 70%;
     height: 500px;
}
.login a{
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #1DB954;
    border-radius: 99px;
    font-weight: 700;

}